[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
# Last version built on piwheels
scipy= "==1.8.1"
scikit-learn = "~=1.1"
pandas = "*"

[dev-packages]

